@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Google Sans', sans-serif;
  /* background-image: linear-gradient(to right, #2c2c2c, #1e1e1e); */
  background-color: #292d42;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: none;
  margin: 0px 100px 0px 100px;
}
@media screen and (max-width: 767px) {
  body {
    margin: 0;
  }
}

form {
  background-color: #0b0d27;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(211, 211, 211, 0.2);
  width: 500px;
}
.form-control {
  background-color: #e3e3e3;
  border: none;
}
.form-group {
  margin-top: 15px;
}

button:disabled {
  cursor: not-allowed;
}
